<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Delfood</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet">

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" type="text/css" rel="stylesheet" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- slidck slider -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css.map" integrity="undefined" crossorigin="anonymous" />


  <!-- Custom styles for this template -->
  <link href="css/style.css" type="text/css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" type="text/css" rel="stylesheet" />

</head>

<body>

  <div class="hero_area">
    <!-- header section strats -->
        <!-- header section strats -->
        <header class="header_section">
          <div class="container-fluid">
            <nav class="navbar navbar-expand-lg custom_nav-container">
              <a class="navbar-brand" href="/">
                <span>
                  Delfood
                </span>
              </a>
              <div class="" id="">
                <div class="User_option">
                  <form class="form-inline ">
                    <input type="search" placeholder="Search" />
                  </form>
                </div>
                <div class="custom_menu-btn">
                  <button onclick="openNav()">
                    <img src="images/menu.png" alt="">
                  </button>
                </div>
                <div id="myNav" class="overlay">
                  <div class="overlay-content">
                    <a href="/">Home</a>
                    <a href="/storage">Storage</a>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </header>
    <!-- end header section -->

    <!-- slider section -->
    <section class="slider_section ">
      <div class="container ">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <div class="detail-box">
              <h1>
                Discover Restuarant And Food
              </h1>
              <p>
                when looking at its layout. The point of using Lorem Ipsum
              </p>
            </div>
            <div class="find_container ">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <form>
                      <div class="form-row ">
                        
                        <div class="form-group col-lg-3">
                          <select class="form-control" id="inputCategory">
                            <option value="0">Category </option>
                          </select>
                          
                        </div>
                        <div class="form-group col-lg-3">
                          <select class="form-control" id="inputFlavor">
                            <option value="0">Flavor</option>
                          </select>
                        </div>
                        <div class="form-group col-lg-3">
                          <select class="form-control" id=" inputOrigin">
                            <option value="0">Origin</option>
                          </select>
                        </div>
                      
                        <div class="form-group col-lg-3">
                          <div class="btn-box">
                            <button type="submit" class="btn">Search</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="detail-box">
                <h1>
                  Storage
                </h1>
              </div> 
            </div>
          </div>
        </div>
      </div>
      <div class="slider_container" style="bottom: -150px;">
        
        <% ingredient.forEach(function(ingre) { %>
            <div class="item">
              <div class="img-box">
                <img src="images/I<%= ingre.ingredient_id %>.jpg" alt="" />
              </div>
              <div class="detail-box">
                <h4 style="color: black;font-size: small;font-weight:bold">
                  <%= ingre.ingredient_name %>
                </h4>
                <h4 style="color: black;font-size: small;font-weight:bold">
                    <%= ingre.quantity %>   <%= ingre.unit %> 

                  </h4>
                  <h4 style="color: black;font-size: small;font-weight:bold">
                    Import Date : <%= ingre.import_date %> 
                  </h4>
                  <h4 style="color: black;font-size: small;font-weight:bold">
                    Expired Date : <%= ingre.expired_date %> 

                  </h4>
              </div>
            </div>
          <% }); %>
      </div>
    </section>
    <!-- end slider section -->
  </div>



  <section class="about_section layout_padding">
    <div class="container">
    </div>
  </section> 

  <div class="footer_container">
    <!-- info section -->
    <section class="info_section ">
      <div class="container">
        <div class="contact_box">
          <a href="">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-phone" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </a>
        </div>
        <div class="info_links">
          <ul>
            <li class="active">
              <a href="index.html">
                Home
              </a>
            </li>
            <li>
              <a href="about.html">
                About
              </a>
            </li>
            <li>
              <a class="" href="blog.html">
                Blog
              </a>
            </li>
            <li>
              <a class="" href='/storage'>
                Storage
              </a>
            </li>
          </ul>
        </div>
        <div class="social_box">
          <a href="">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
          <a href="">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </section>
    <!-- end info_section -->


    <!-- footer section -->
    <footer class="footer_section">
      <div class="container">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a><br>
          Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
        </p>
      </div>
    </footer>
    <!-- footer section -->

  </div>
  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.js"></script>
  <!-- slick  slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js" integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <script>
      document.addEventListener('DOMContentLoaded', function() {
  const searchBtn = document.querySelector('.btn-box button');

  searchBtn.addEventListener('click', function(event) {
    event.preventDefault();
    // Thực hiện hành động khi button được nhấn
    const categorySelect = document.getElementById('inputCategory').value;
     const flavorSelect = document.getElementById('inputFlavor').value;
    const originSelect = document.getElementById('inputOrigin').value;
  window.location.href = '/search?category=' + categorySelect + '&flavor=' + flavorSelect + '&origin=' + originSelect;
    // Tiếp tục xử lý tìm kiếm
  });
});

  </script>
  

</body>

</html>